@import "../../Sass/variables";

.FilterCategories {
    display: flex;
    .menu_category {
        margin: 0 10px 0 10px;
        border-style: none;
        background-color: transparent;

        &:hover {
            cursor: pointer;
        }
    }
}
