@import "../../Sass/variables";

.FilterCategories {
    display: grid;
    height: 40px;
    grid-template-rows: 100% 100%;

    .filter_menu_category {
        max-width: fit-content;
        border-style: none;
        background-color: $black_main;
        font-weight: 100;
        font-size: 14px;
        color: $white_main;
        outline: none;
        padding: 0 10px 0 1px;
        
        &:hover,
        &:focus {
            cursor: pointer;
            color: $yellow_main;
            background-color: $black_main;
        }
    }
    .category_box_filter {
        margin: auto 0;
        font-family: "Avenir_Book";
        display: grid;
        grid-template-columns: 77.5% 17.5%;
        column-gap: 5%;
        justify-items: center;
        align-items: center;
        font-size: 12px;
        padding: 1px 2.5px;
        max-width: 100px;
        background-color: $light_gray;
        border-radius: 4px;
        border: 1px solid $dark_gray;

        .category_filter_title_selected {
            color: $dark_gray;
            width: 100%;
            word-wrap: break-word;
        }

        .category_button_filtered {
            width: 20px;
            height: 20px;
            line-height: 0;
            border-radius: 4px;
            transition: 0.25s all ease;
            border-width: 0;
            color: $white_main;
            background-color: $dark_gray;

            &:hover {
                cursor: pointer;
                background-color: $black_main;
                color: $yellow_main;
            }
        }
    }
}
