@import "../../../Sass/variables";

span{
    font-family: "Avenir_Black";
}
.PayConteiner_Cartpay{
    background-color: black;
    height: max-content;
    max-width: 450px;
    width: max-content
}
.Contenedor_CartPay{
    width: 100%;
    padding: 15px;
    .Label3_Cartpay{
        color: white;
        font-size: 0.8em;
        font-family: "Avenir_Book";
        margin-top: 555px;
    }
}
.PayConteinerH1_CartPay{
    color: white;
    font-family: "Avenir_Black";
    font-size: 1.75em;
}

.TotalPrice_CartPay{
    display: flex;
    justify-content: space-between;
    margin-bottom: -1em;
    .Label1_Cartpay{
        font-family: "Avenir_Black";
        color: white;
        font-size: 1.5em;
    }
    .Label2_Cartpay{
        font-family: "Avenir_Book";
        font-weight: 100;
        color: white;
        font-size: 1.5em;
    }
}
.HC_CartPay{
    .HCAmount_CartPay{
        margin-top: 2em;
        display: flex;
        justify-content: space-between;
        h1{
            font-family: "Avenir_Black";
            color: white;
            font-size: 1.5em;
        }
        h2{
            font-family: "Avenir_Book";
            font-weight: 100;
            color: white;
            font-size: 1.5em;
        }
    }
    label{
        margin-bottom: 1em;
        color: white;
        font-family: "Avenir_Book";
        font-weight: 100;
        font-size: 0.8em;
    }
}
.HCSelect_CartPay{
    display: grid;
    gap: 5px 10px;
    grid-template-columns: 100%;
    grid-template-columns: repeat(7, 1fr);

    label{
        color: black;
        background-color: white;
        border-radius: 20px;
        text-align: center;
        font-size: 0.8em;
        padding: 3px;
        font-family: 'Avenir_Black';
        cursor: pointer;
        transition: all 0.3s ease 0s;
        margin-top: -1em;
        &:hover {
            transform: scale(1.1);
            background-color: black;
            color: white;
        }
    }
}

.buttoncheckout_CartPay{
    margin-top: 1em;
    background-color: #ffff01;
    border: 0px;
    font-family: 'Avenir_Black';
    width: 100%;
    font-size: 1em;
    height: 2.5em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
        transform: scale(1.02);
        background-color: white;
        color: black;
    }
}