.createContainer{
    flex: 4;
    z-index: 1;
    background-color:rgb(247, 247, 247);
    min-height: 100vh;
}
.createContainer h1{
    font-family: 'Avenir_Roman';
}
.createContent{
    display: flex;
    background-color: rgb(255, 255, 255);
    
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 8px #d0d0d0;
}
.createContent2{
    margin-left: 50px;
    padding-right: 25px;
}

.createContent h4{
    margin-bottom: 10px;
    margin-top: 15px;
    font-family: 'Avenir_Roman';
}

.basicInfo{
    margin-left: 25px;
}

.basicInfoWrap{
    display: flex;
    flex-direction: column;
}

.basicInfoWrap .inputField{
    margin-bottom: 15px;
    display: flex;
    align-items: center;   
}

.basicInfoWrap .inputField label{
    width: 150px;
    font-size: 18px;
}

.basicInfoWrap .inputField .normalInput{
    width: 30em;
    outline: none;
    font-size: 16px;
    border: 1px solid black;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}



.basicInfoWrap .inputField .normalInput:focus,
.basicInfoWrap .inputField textarea:focus,
.basicInfoWrap .inputField .smallInput:focus{
    border:1px solid #FFFF01;
    box-shadow: 0 0 8px 0 #FFFF01; 
}

.basicInfoWrap .inputField .smallInput:valid,
.basicInfoWrap .inputField textarea:valid,
.basicInfoWrap .inputField .normalInput:valid{
    border:2px solid #FFFF01;
    
}

.basicInfoWrap .inputField textarea{
    width: 30em;
    outline: none;
    font-size: 16px;
    border: 1px solid black;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
    resize: none;
    
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }


.basicInfoWrap .inputField .smallInput{
    width: 5em;
    outline: none;
    font-size: 16px;
    border: 1px solid black;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.categoryWrap{
    display: flex;
}

.titleCategory{
    font-size: 1rem;
    font-weight: bold;

}

.btn-final-form {
    width: 30%;
    text-align: center;
    background: #000;
    font-size: 20px;
    color: #FFF;
    padding: 15px;
    border: 2px solid #FFFF01;
    border-radius: 10px;
    transition: 0.5s ease;

    &:hover {
        border: 2px solid #000;
        color: #000;
        background: #FFFF01;
        cursor: pointer;
        transform: scale(1.05);
    }
}

.createWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.createContainer h1{
    margin-top: 20px;
    margin-left: 50px;
}
.categoryContainer{
    margin-bottom: 25px;
}


.buttonCategory, .buttonCaracteristic{
    all: unset;
    margin:15px 10px 10px 10px;
    padding: 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    background-color: #87868a;
    color: white;
}


.buttonCategory:hover, .buttonCaracteristic:hover {
box-shadow: 1px 1px 25px 10px rgba(248, 250, 139, 0.4);
}
  
  .buttonCategory:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(246, 248, 146, 0.4),
      transparent
    );
    transition: all 650ms;
  }
  
  .buttonCategory:hover:before,
  .buttonCaracteristic:hover:before
  {
    left: 100%;
  }
  

.addCategory, .addCaracteristic{ 
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
}

.popCreate{
    font-family: 'Avenir_Roman';
    box-shadow: 0 0 10px 1px #d0d0d0;
    background-color: #ffffff;
    .titlePopCreate{
        font-family: 'Avenir_Roman';
        color:black;
    }
    .inputPopCreate{
        background-color: #ffffff;
        border: 1px solid lightgray;
        outline: none;
        border-radius: 0.2em;
        padding: 1em;
        font-family: 'Avenir_Roman';
        margin-top: 25px;
    }

    .inputPopCreate:focus{
        box-shadow: 0 0 10px #FFFF01;
        border: 1px solid #FFFF01;
    }

    .confirmBtnCreate{
        border-radius: 20px;
        border: none;
        color: white;
        background-color: black;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 30px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        margin: 0.5rem;
        cursor: pointer;
        transition: 0.4s all;
        &:hover {
            transform: scale(1.07);
        }
    }
}

.warningBtn{
    background-color: #f8bb86;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 0.5rem;
    cursor: pointer;
    transition: 0.4s all;
    &:hover {
        transform: scale(1.07);
    }
}

.confirmBtnPop{
    background-color: #49AF41;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 0.5rem;
    cursor: pointer;
    transition: 0.4s all;
    &:hover {
        transform: scale(1.07);
    }
}

.confirmBtnDelete{
    background-color: #ff4242;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 0.5rem;
    cursor: pointer;
    transition: 0.4s all;
    &:hover {
        transform: scale(1.07);
    }
}

.dennyBtnPop{
    background-color: rgb(112, 112, 112);
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 0.5rem;
    cursor: pointer;
    transition: 0.4s all;
    &:hover {
        transform: scale(1.07);
    }
}