@import '../../Sass/variables';

.contain_Ubication {
    position: absolute;
    top: 0;
    font-family: 'Avenir_Roman';
    cursor: pointer;
    z-index: 2;
    margin: 4% 0 0 12%;

    .Ubication_body{
        border-radius: 1rem;
        padding: 3px;

        &:hover{
            box-shadow: 1px 1px 5px 1px gray;
        }
  
    }
}