.content_Login{

    .recovery_pass{
        z-index:5000;
        transition: all 0.5s ease;

       &:hover{
           color:blue;
           cursor:pointer;
       }
    }
}

.social_container {
    margin: 20px 0;


  }
  
  .social_container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    transition: 0.5 all ease;

    &:hover{
        color:blue;
        transform: scale(1.3);
        cursor:pointer;
    }
  }
  