.img-uploader-container {
    width: 40.4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: transparent;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.card-previewer {
    min-height: 10rem;
    height: 65%;
    width: 100%;
    display: flex;
    border: 2px dashed #87868A;
    border-radius: 4px;
    flex-wrap: wrap;
}

.card-footer {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #87868a;
    padding: 13px;
    border: 2px solid #87868a;
    border-radius: 5px;
    transition: 0.5s ease;

    &:hover {
        cursor: pointer;
        border: 2px solid #87868a;
        color: #fff;
        background: #87868a;
    }
}

.img-view-container {
    position: relative;
    height: 100%;
    width: (40rem/3);
    padding: 0.25rem;
}

.img-view {
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 4px;
}

.img-front-film {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    width: (40rem/3) - 0.6rem;
    height: 90%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d2d2d6;
    border-radius: 4px;
    transition: 0.5s ease;

    &:hover {
        background: rgba(0, 0, 0, 0);
        color: transparent;
    }
}

.onclose-btn {
    position: absolute;
    top: 7px;
    right: 12px;
    background: transparent;
    border: none;
    color: #ffffff;
    font-weight: bolder;
    font-size: 1.2em;
    cursor: pointer;
}

.img-uploader {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
}

.progress-bar-active {
    display: block;
    height: 8px;
    width: 100%;
}

.progress-bar-inactive {
    display: block;
    height: 8px;
    width: 100%;
    visibility: hidden;
}