@import "../../../Sass/variables";

.content_register {
  width: 460px;
  height: 620px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
    .formu-register{
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;
    }
    .inText-register {
      align-items:flex-end;
      margin: 15px;
      padding: 10px 10px;
      border-radius: 8px;
      outline: none;
      border: 1px solid #cfcfcf;
      width: 280px;
      height: 40px;
      padding: 0 25px;
      font-family: 'Varela Round', sans-serif;
      font-size: 15px;
    }
    .checkbox {
      width: 100%;
      margin: 15px;
      margin-left: 80px;
    }
  }

  .name-register{
    font-family: "Avenir_Black";
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: black;
  }

  .register_strip{
          background-color: yellow;
          width: 3.5rem;
          height: 8px;
          margin-top: -2.8rem;
          z-index: -10;
  }

  .social_container{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .showPass{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 20px;
  }
  .container_close_register{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
  }
  .close-button-register {
    font-size: 2.5rem;
    color: $yellow_main;
    transition: all 0.3s linear;
    position: relative;
    cursor: pointer;
    transition: 0.4s;
    &:hover{
      transform: scale(1.1);
    }
  
  }

  .back-button-register {
    position: relative;
    cursor: pointer;
    font-size: 2.5rem;
    transition: 0.4s;
    color: #87868A;
    &:hover{
      color:black
    }
  
  }

  .button_register{
    margin: 1rem;
    cursor: pointer;
    transition: 0.8s all;
    &:hover {
        transform: scale(1.07);
    }
  }