.container_categories_subcategories{
    display: flex;
    flex: 4;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
}

.header-left{
    display: flex;
    margin-bottom: 2rem;
}

.container-buttons-categories{
    display: flex;
    flex-direction: column;

}

.container-buttons-subcategories{
    display: flex;
    flex-direction: column;
}

.button-categories{
    width: 6rem;
}