@import "../../../Sass/variables";

.Cart_CartDetail{
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: black;
    display: flex;
    transition: all 0.3s ease 0s;
    width: 420px;
    height: 210px;
    img {
        width: 150px;
        height: 200px;
        padding: 10px;
        object-fit: contain;
    }
    .right_column_cart_detail{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 1%;
        padding-top: 1%;
        align-items: flex-start;
    }
}


.Cart_CartDetail--h1 {
    font-size: 1.3em;
    font-family: "Avenir_Black";
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 0.6em;
    line-height: 0;
}

.Cart_CartDetail--h2 {
    font-size: 0.8em;
    font-weight: 300;
}

.Cart_CartDetail--labels {
    max-width: 90%;
    display: grid;
    gap: 5px 10px;
    grid-template-columns: 100%;
    grid-template-columns: repeat(3, 1fr);
    .Cart_CartDetail--label {
        background-color: #343434;
        border-radius: 20px;
        color: #fff;
        font-size: 0.8em;
        padding: 3px 15px;
        text-transform: capitalize;
        text-align: center;
        font-weight: 300;
    }
}

.CartCost_CartDetail{
    width: 90%;
    display: grid;
    gap: 5px 10px;
    grid-template-columns: repeat(3, 1fr);
    select{
        margin-top: 0.4em;
        height: 2em;
        padding-right: 10px;
    }
    h2{
        font-size: 0.8em;
    }
}

.CartOptions_CartDetail{
    width: 90%;
    display: flex;
    justify-content: space-between;
    .h2Delete_CartDetail{
        font-size: 0.8em;
        cursor: pointer;
        text-decoration: underline;
        transition: all 0.3s ease 0s;
        &:hover{
            color: #F64749;
        }
    }
    div{
        h2{
            font-size: 0.8em;
        }
    }
}
.ProductTitle_CartDetail{
    width: max-content;
}
.ProductStripe_CartDetail{
    background-color: yellow;
    width: 50%;
    height: 8px;
    margin-top: 0.2em;
    z-index: -10;
}

.heart_product_Detail{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 1.2rem;
    transition: 0.3s all ease;
     &:hover{
      color: red;
      cursor: pointer;
     }
  }
