/* ===== VARIABLES CSS ===== */

/* ===== Colors ===== */
/* ===== Primarios ===== */
$yellow_main: #FFFF01;
$black_main: #000000;
$white_main: #ffffff;
$gray_main: #343434;


/* ===== Secundarios ===== */
$dark_gray: #87868A;
$normal_gray: #AEADB3;
$light_gray: #D2D2D6;



/* ===== Fonts ===== */
@font-face {
    font-family: Avenir_Black;
    src: url("../Assets/files/fonts/avenir_ff/AvenirLTStd-Black.otf") format("opentype");
  }
  @font-face {
    font-family: Avenir_Book;
    src: url("../Assets/files/fonts/avenir_ff/AvenirLTStd-Book.otf") format("opentype");
  }
  @font-face {
    font-family: Avenir_Roman;
    src: url("../Assets/files/fonts/avenir_ff/AvenirLTStd-Roman.otf") format("opentype");
  }
