/* ===== VARIABLES CSS ===== */

/* ===== Colors ===== */
$yellow_main: #FFFF01;
$black_main: #000000;


/* ===== Fonts ===== */
@font-face {
    font-family: Avenir_Black;
    src: url("../Assets/files/fonts/avenir_ff/AvenirLTStd-Black.otf") format("opentype");
  }
  @font-face {
    font-family: Avenir_Book;
    src: url("../Assets/files/fonts/avenir_ff/AvenirLTStd-Book.otf") format("opentype");
  }
  @font-face {
    font-family: Avenir_Roman;
    src: url("../Assets/files/fonts/avenir_ff/AvenirLTStd-Roman.otf") format("opentype");
  }
