
.slideBarContainer{ 
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282828;
    min-height: 100vh;
    max-width: 30vh;
    h3{
        color:#FFFF01 ;
    }
    ul{
         list-style-type:none;
         li{
             color: #ffffff;
         }
    }

}
.profilePic{
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border:1px solid black;
    border-radius: 100px;
}