
table{
    border-collapse:collapse;
    margin-left: 20px;
    margin-right: 20px;
}

tr{
    background-color: rgb(248, 250, 165);
    border: 2px solid black;
    margin:0px;
    overflow-wrap:break-word;
    text-align: center;
    th{
        border: 2px solid black;
        width: 100px;
    }
    td{
        border: 2px solid black;
        width: 200px;
        height: 20px;
        
    }
}
