@import "../../../Sass/variables";

.usersWrap{
    flex: 4;
}
.container-table-users {
    margin: 10px;
    padding: 5rem 0.1rem;
}
.content-table-users{
    border-collapse:collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px; //posiblemente tenga que cambiar esto
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table-users tr th {
    background-color: #FFFF01;
    color: #000000;
    text-align: center;
    font-weight: bold;
}
.content-table-users th,
.content-table-users td {
    padding: 12px 15px;
    max-width: 190px;
    overflow: hidden;
    text-align: center;
}

.content-table-users tr {
    border-bottom: 1px solid #dddddd; 
}

.content-table-users tr:nth-of-type(even) {
    background-color: #f3f3f3; 
}

.content-table-users tr:last-of-type {
    border-bottom: 2px solid #FFFF01;
}

.action-wheel-users{
    &:hover{
        cursor: pointer;
    }
}

.users-refresh-qty{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}
.title-panel-users{
    font-family: "Avenir_Black";
    font-size: 2.5rem;
    margin-right: 1rem;
    width: fit-content;
}
.title_stripe_users {
    background-color: $yellow_main;
    width: 96%;
    height: 8px;
    margin-top: -13px;
    z-index: -10;
}
.qty-panel-users{
    font-family: "Avenir_Roman";
}

.button-refresh-user{
    display: flex;
    border-radius: 20px;
    border: 1px solid $black_main;
    background-color: $yellow_main;
    color: #000000;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.2rem;
    transition: transform 80ms ease-in;
    cursor: pointer;
    transition: 0.4s all;
    box-shadow: 0.1rem 0.15rem 5px black;
    &:hover {
        transform: scale(1.07);
    }
    margin-left: 1rem;
}