.content_Home {
    justify-content: center;

    .body_Home {
       

        .webcontent_home {
            -webkit-justify-content: center;
            justify-content: center;
            margin: 1% 10% 0;
            display: flex;
        }
    }
}
