
.content_Home {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #eeeeee;
    .content_SidebarLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        .reset_button {
//             display: grid;
//             justify-content: center;
//             align-items: center;
            background-color: $light_gray;
            color: $dark_gray;
            border: 1px solid $dark_gray;
            font-weight: 700;
//             border-width: 0;
            padding: 0 15px;
            cursor: pointer;
            transition: all 0.25s;
            border-radius: 8px;
            margin: 10px 0 0;
            height: 40px;
//             font-size: 10px;
            &:hover {
                background-color: $dark_gray;
                color: $light_gray;
                border: 3px solid $light_gray;
            }
        }
        .reset_button_hidden {
            margin: 10px 0 0;
            height: 40px;
            visibility: hidden;
        }
    }
    .body_Home{
//         border: 1px solid red;
        display: flex;
        flex-direction: column;
        .order {
//             border: 1px solid green;
            display: flex;
            justify-content: flex-end;
        }
        .products{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 80vw;
        }
    }
}

.search_container{
    border-bottom: 5px solid $light_gray;
    background-color: #eeeeee;
    height: 130px;
}

.search{
//     display: flex;
    padding: 20px 0;
//     padding-bottom: 20px;
//     justify-content: center;
//     width: 200%;
}

