@import "./../../Sass/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer_container {
    height: 395px;
    background-color: $black_main;

    .footer_links_container {
        margin: 0 295px;

        .footer_links_container_display {
            display: grid;
//             grid-template-columns: 2fr repeat(6, 1fr);
//             grid-template-columns: repeat(7, 1fr);
            grid-template-columns: 2fr repeat(5, 1fr) 2fr;
            grid-template-rows: auto;
            padding: 100px 0 0 0;
            justify-content: center;
            gap: 10px;
            
            .footer_logo_container {
//                 width: 240px;
//                 height: 90px;
                text-align: center;

                .footer_logo {
                    width: 194px;
                }
            }

            .footer_link_container {
                display: grid;
                justify-content: center;
                align-items: center;
                width: auto;

                .footer_link {
                    padding: 10px 0;
                    margin: 0 0 10px 0;
                    color: $white_main;
                    text-align: center;
                    font-weight: 100;
                }
            }
        }
    }

    .footer_foot_container {
        margin: 0 295px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;

        .footer_logo_linkedin {
            z-index: 10000000;
            fill: $yellow_main;
            font-size: 20px;
            width: 20px;
            height: 20px;
        }
    }
}