@import '../../Sass/variables';

.content_Footer {
    background-color: black;
    height: auto;


    .logo {
        position: relative;
    }

    .Footer_body{
        font-family: "Avenir_Roman";
        color: white;

        .items{
            list-style: none;
            display: flex;
            justify-content: space-around;
        }
    }

    .Footer_foot{
        font-family: "Avenir_Book";
        color: gray;
        text-align: center;
    }
}