@import "../../../Sass/variables";

.container-table-order {
    margin: 10px;
    padding: 20px 20px;
}
.content-table-order{
    border-collapse:collapse;
    margin: 25px 0;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 80vw;
}

.content-table-order tr th {
    font-family: "Avenir_Roman";
    background-color: #FFFF01;
    color: #000000;
    text-align: center;
    font-weight: bold;
    
}
.content-table-order th,
.content-table-order td {
    padding: 12px 15px;
    max-width: 14rem;
    width: 14rem;
    height: 3.7rem;
    text-align: center;
    vertical-align: center;
}

.content-table-order tr {
    border-bottom: 1px solid #dddddd;
}

.content-table-order .order-rows:nth-of-type(even) {
    background-color: #f3f3f3; 
}

.content-table-order tr:last-of-type {
    border-bottom: 2px solid #FFFF01;
}

.content-table-order .row-product:last-of-type {
    border-bottom: none;
}
.content-table-order .row-product2:last-of-type {
    border-bottom: none
}

.row-product2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 5rem;
}

.action-wheel-order{
    width: min-content;
    &:hover{
        transition: 0.5s all ease;
        cursor: pointer;
        transform: scale(1.4);
    }
}

.img-product-order{
    width: 3rem;
    height: 3rem;
    object-fit: contain;
}

.order-refresh-qty{
    display: flex;
    height: 4rem;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}
.title-panel-orders{
    font-family: "Avenir_Black";
    font-size: 2.5rem;
    margin-right: 1rem;
    width: fit-content;
}
.title_stripe_orders {
    background-color: $yellow_main;
    width: 96%;
    height: 8px;
    margin-top: -13px;
    z-index: -10;
}

.qty-panel-orders{
    font-family: "Avenir_Roman";
}

.divbuttons{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.popup-order-infouser{
    background-color: white;
    width: 27rem;
    height: 14rem;
    color:black;
    font-family: "Avenir_Black";
}
.title-order-infouser{
    color: black;
}

.confirmButton-order-infouser{
    border-radius: 20px;
    border: 1px solid $yellow_main;
    background-color: $yellow_main;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 1rem;
    cursor: pointer;
    transition: 0.4s all;
    &:hover {
        transform: scale(1.07);
    }
}

.content-order-infouser{
    color: black;
}

.list_select_orders {
    border: 1px solid $light_gray;
    border-radius: 8px;
    width: fit-content;
    font-family: "Avenir_Roman";
    align-items: flex-end;
    margin: 10px;
    outline: none;
    height: 40px;
    padding: 0 16px;
    font-size: 14px;
    align-items: center;
    transition: all 0.25s;
    cursor: pointer;
    background-color: $light_gray;
    &:hover,
    &:focus {
        color: $black_main;
        background-color: $white_main;
    }
}

.buttons-pagination-orders {
    background-color: black;
    color: $yellow_main;
    width: auto;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s all ease;
    &:hover{
        color: black;
        background-color: $yellow_main;
    }
  }

.buttons-pagination-orders-disabled {
    background-color: #D2D2D6;
    color: black;
    width: auto;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: none;
    transition: 0.3s all ease;
}

.ontableclickeable{
    text-decoration: none;
    color: black;
    cursor: pointer;
    &:visited{
        text-decoration: none;
    }
    &:hover{
        transition: 0.5s all ease;
        font-weight: 800;
    }
}