@import "../../../Sass/variables";

.container-table-product {
    margin: 10px;
    padding: 20px 20px;
}
.content-table-product{
    border-collapse:collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px; //posiblemente tenga que cambiar esto
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.content-table-product tr th {
    background-color: #FFFF01;
    color: #000000;
    text-align: left;
    font-weight: bold;
}
.content-table-product th,
.content-table-product td {
    padding: 12px 15px;
    max-width: 190px;
    overflow: hidden;
    text-align: center;
}

.content-table-product tr {
    border-bottom: 1px solid #dddddd; 
}

.content-table-product tr:nth-of-type(even) {
    background-color: #f3f3f3; 
}

.content-table-product tr:last-of-type {
    border-bottom: 2px solid #FFFF01;
}
.content-products{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px;
    width: 60vw;
}

.img-prod-table{
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.products-refresh-qty{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.button-refresh-product{
    display: flex;
    border-radius: 20px;
    border: 1px solid $black_main;
    background-color: $yellow_main;
    color: #000000;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.2rem;
    transition: transform 80ms ease-in;
    cursor: pointer;
    transition: 0.4s all;
    box-shadow: 0.1rem 0.15rem 5px black;
    &:hover {
        transform: scale(1.07);
    }
    margin-left: 1rem;
}