@import "../../../Sass/variables";

.container-table-product {
    margin: 10px;
    padding: 20px 20px;
}
.content-table-product{
    border-collapse:collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.content-table-product tr th {
    background-color: #FFFF01;
    color: #000000;
    text-align: center;
    font-weight: bold;
}

.content-table-product td {
    padding: 12px 15px;
    max-width: 190px;
    overflow: hidden;
    text-align: center;
}

.content-table-product th{
    padding: 12px 15px;
    max-width: 190px;
    overflow: hidden;
}

.content-table-product tr {
    border-bottom: 1px solid #dddddd; 
}

.content-table-product tr:nth-of-type(even) {
    background-color: #f3f3f3; 
}

.content-table-product tr:last-of-type {
    border-bottom: 2px solid #FFFF01;
}
.content-products{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px;
    width: 70vw;
}

.img-product-table{
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.wheel-products-table{
    width: min-content;
    &:hover{
        transition: 0.5s all ease;
        cursor: pointer;
        transform: scale(1.4);
    }
}

.ontableclickeableprod{
    text-decoration: none;
    color: black;
    cursor: pointer;
    &:visited{
        text-decoration: none;
    }
    &:hover{
        transition: 0.5s all ease;
        font-weight: 800;
    }
}

.title-panel-products{
    font-family: "Avenir_Black";
    font-size: 2.5rem;
    margin-right: 1rem;
    width: fit-content;
}
.title_stripe_products {
    background-color: $yellow_main;
    width: 96%;
    height: 8px;
    margin-top: -13px;
    z-index: -10;
}

.product-refresh-qty{
    display: flex;
    height: 4rem;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    margin-left: 115px;
}

.qty-panel-products{
    font-family: "Avenir_Roman";
}
