@import "../../Sass/variables";

.content_SearchBar {
       display: flex;
       width: 30%;
       position: relative;
       align-items: center;
       font-family: "Avenir_Roman";
       font-size: 10px;

       .input_search {
              position: relative;
              border: 1px solid $gray_main;
              height: 35px;
              width: 38em;
              border-radius: 50px;
              padding-left: 31px;
              padding-right: 11px;
              padding-top: 4px;
              padding-bottom: 4px;
              font-size: 13px;
              color: #555;
              margin: 10px 5px 5px 5px;
       }
       .input_search:focus {
              border: 1px solid $yellow_main;
              outline: none;
       }

       .button_search {
              width: fit-content;
              border-style: none;
              font-family: "Avenir_Roman";
              background: transparent;
              vertical-align: bottom;
              font-size: 1.8rem;
              transition: 0.5s all ease;
              cursor: pointer;

              &:hover {
                     transform: scale(1.1);
              }

       }
       .content_SearchBar{
              justify-self: flex-start;
       }

       .container_button_close_search{
              margin-left: 0.5rem;
       }

       .button_close_search {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: $yellow_main;
              color: black;
              border-radius: 8px;
              width: 1.5rem;
              height: 1.5rem;
              border: none;
              cursor: pointer;
              outline: none;
              font-family: "Avenir_Black";
              &:hover{
                     transition: 0.4s all ease;
                     background-color: #AEADB3;
                     color: $yellow_main;
              }
       }
}