@import '../../Sass/variables';

.content_SearchBar{
       position: absolute;
       top: 0;
       left: 30%;
       font-family: "Avenir_Roman";
       font-size: 10px;
       z-index: 5;

       .input_search{

       }

       .button_search{
              
       }
}