@import "../../Sass/variables";

.content_SearchBar {
    display: grid;
    grid-template-rows: 45px auto;
    justify-content: end;
    align-items: end;
    font-family: "Avenir_Roman";
    position: relative;
    margin: 0 50px 0 0;

    .searchbar_input {
        display: flex;

        .input_search {
            border: 2.5px solid $white_main;
            height: 35px;
            width: 650px;
            border-radius: 8px;
            padding: 0 10px;
            font-size: 14px;
            color: $black_main;
            background-color: $light_gray;
            margin: 0;
            transition: all 0.25s;
            outline: none;

            &:focus {
                background-color: $white_main;
                border: 2.5px solid $yellow_main;
                outline: none;
            }
        }

        .search_error {
            border: 2.5px solid red;
            
            &:focus {
                border: 2.5px solid red;
            }
        }

        .button_search {
            color: $white_main;
            height: 35px;
            border-style: none;
            font-family: "Avenir_Roman";
            background: transparent;
            padding: 2.5px 0 0 0;
            margin: 0 10px;
            font-size: 32px;
            transition:  all 0.25s;
            cursor: pointer;

            &:hover {
                color: $light_gray;
                transform: scale(1.125);
            }
        }
    }

    .error_message {
        font-size: 12px;
        padding: 5px 0;
        position: absolute;
        left: 250px;
        top: 50px;
        color: red;
    }

    .box_filter {
        margin-left: 5px;
        font-family: "Avenir_Book";
        display: grid;
        grid-template-columns: 77.5% 17.5%;
        column-gap: 5%;
        justify-items: center;
        align-items: center;
        font-size: 12px;
        padding: 5px;
        max-width: 100px;
        background-color: $light_gray;
        border-radius: 4px;
        border: 1px solid $dark_gray;

        .filter_title_selected {
            color: $dark_gray;
            width: 100%;
            word-wrap: break-word;
        }

        .button_filtered {
            width: 20px;
            height: 20px;
            line-height: 0;
            border-radius: 4px;
            transition: 0.25s all ease;
            border-width: 0;
            color: $white_main;
            background-color: $dark_gray;

            &:hover {
                cursor: pointer;
                background-color: $black_main;
                color: $yellow_main;
            }
        }
    }
}