// .content-products{
//     position: relative;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     margin: 40px;
//     width: 60vw;
// }

.detail_orders{
 height: auto;
 margin-top: 0;
//  margin-bottom: 4rem;
}

.img-prod-table{
    width: 150px;
    height: 150px;
    object-fit: contain;
}


.contain_modal{
    position: absolute;
    top: 12%;
    left: calc(50% - 125px);
    padding: 2rem;
    border-radius: 1rem;
}

.back_drop{
    background: rgba(63, 61, 61, 0.9) !important;
    height: 100%;
    transition: all 1.3s;
    width: 100%
}

.detail2{
    height: 60rem;
    margin-top: 35px;
}