// .content-products{
//     position: relative;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     margin: 40px;
//     width: 60vw;
// }

.detail_orders{
 height: auto;
 margin-top: 0;
//  margin-bottom: 4rem;
}

.img-prod-table{
    width: 150px;
    height: 150px;
    object-fit: contain;
}


.contain_modal{
    top: 12%;
    left: 36%;
    border-radius: 1rem;
    position: absolute;
}

.back_drop{
    opacity: 0.2;
}

.detail2{
    min-height: 60rem;
}