/*
=============== 
Sidebar
===============
*/
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  transition: all 1s linear;
  cursor: pointer;
  color:rgb(230, 107, 107);
  margin-top: 0.2rem;
}

.close-btn:hover {

  color: rgb(187, 37, 37);
}

.logo {
  justify-self: center;
  height: 40px;
}

.links{
    list-style:none;
    left: 10px;
    padding: 0;
    cursor: pointer;
}

.links .spanOut:hover{
    color: rgb(187, 37, 37);

    font-weight: bolder;
}

.links a, .spanOut{
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-family: "Avenir_Book";
  margin-right: 25px;
  margin-left: 25px;
  padding: 1rem 1rem;
  color: rgb(50, 77, 103);
  transition: all 0.3s linear;
  letter-spacing:  0.1rem;
  
}

.links a:hover,.spanOut:hover  {
  background: rgb(241, 245, 248);
  color: black;
  font-weight: bolder;
  //color: rgb(36, 58, 82);
}
//iconos
.links a svg, .spanOut svg {
  font-size: 1.5rem;
  color: rgb(97, 125, 152);
  margin-right: 1rem;
  transition: all 0.3s linear;
}
.links a:hover svg, .spanOut:hover svg {
  color: #FFFF01;
  background-color: black;
}

.social-icons {
  justify-self: center;
  display: flex;
  padding-bottom: 2rem;
}
.social-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: rgb(73, 166, 233);
  transition:all 0.3s linear;
}
.social-icons a:hover {
  color: #FFFF01;
}

.sidebar {
  position: fixed;
  top: 100px;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: rgb(187, 37, 37);
  transition: all 0.3s linear;
  transform: translate(+100%);
}
.show-sidebar {
  transform: translate(0);
}
@media screen and (min-width: 676px) {
  .sidebar {
    width: 280px;
  }
}


