
@import '../../Sass/variables';

.sidebar-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
  color:$gray_main;
  margin-top: 0.2rem;
  color:$white_main;
}

.close-btn:hover {

  color: rgb(187, 37, 37);
}

.logo {
  justify-self: center;
  height: 40px;
}

.links{
    list-style:none;
    left: 10px;
    padding: 0;
    cursor: pointer;
}

.links .spanOut:hover{
    color: rgb(187, 37, 37);
    font-weight: bolder;
}
.links .icon-bicoin:hover{
    color: black;
    font-weight: bolder;
}

.links a, .spanOut,.icon-bicoin {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-family: "Avenir_Book";
  padding: 1rem 1rem;
  padding-left: 40px;
  color:$white_main;
  transition: all 0.3s linear;
  letter-spacing:  0.1rem;
  text-decoration: none
}

.links a:hover,.spanOut:hover, .icon-bicoin:hover   {
  background: rgb(241, 245, 248);
  color: $black_main;
  font-weight: bolder;
}
//iconos
.links a svg, .spanOut svg, .icon-bicoin svg {
  font-size: 1.5rem;
  color:$white_main;
  margin-right: 1rem;
  transition: all 0.3s linear;
}

.links a:hover svg, .spanOut:hover svg,.icon-bicoin:hover svg  {
  color: $yellow_main;
  background-color: $black_main;
}

.social-icons {
  justify-self: center;
  display: flex;
  padding-bottom: 2rem;
}
.social-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color:$white_main;
  transition:all 0.3s linear;
}
.social-icons a:hover {
  color: $yellow_main;
}

.sidebar {
  position: fixed;
  top: 90px;
  right: 0;
  // width: 100%;
  height: 100%;
  background:$black_main; 
  opacity: 0.85;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  // box-shadow: rgb(187, 37, 37);
  transition: all 0.3s linear;
  transform: translate(+100%);
  z-index: 9999;
}
.show-sidebar {
  transform: translate(0);
  z-index: 9999;
}
@media screen and (min-width: 676px) {
  .sidebar {
    width: 270px;
  }
}
.iconHenryCoint{
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-family: "Avenir_Book";
  padding: 1rem 1rem;
  padding-left: 40px;
  color:white;
  transition: all 0.3s linear;
  letter-spacing:  0.1rem;
  padding-right: 25px;
  margin-right: 25px;
}
.iconHenryCoint:hover{
  background: rgb(241, 245, 248);
  color: black;
  font-weight: bolder;
}




