@import "../../../Sass/variables";

.CartGeneral_CartBar{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    .CartH2Continue_CartBar{
        font-size: 0.9em;
        font-weight: 300;
        text-decoration: underline;
        margin-top: 2em;
        cursor: pointer;
        color: black;
    }
    h1{
        font-family: "Avenir_Black";
    }
    .CartItems_CartBar{
        font-size: 1.3em;
        font-weight: 300;
        color: #7f7f7f;
        margin-top: 1.4em;
        margin-left: 0.5em;
    }
}


.CartBarLeft_CartBar{
    display: flex;
}

.CartLine_CartBar{
    background-color: #7f7f7f;
    width: 100%;
    height: 1px;
    margin-bottom: 1em;
    margin-top: -1em;
}