@import "../../Sass/variables";

.not_found_message_container {
  display: grid;
  justify-content: center;
  padding: 100px 0;
  height: 100vh;
  width: 100vw;
  background-color: $black_main;

  .not_found_message_404,
  .not_found_message {
    font-family: "Avenir_Black";
    color: $white_main;
    text-align: center;
    font-weight: 900;
  }

  .not_found_message_404 {
    font-size: 32px;
  }

  .not_found_image {
    margin: 0 auto;
    transform: scaleX(-1)
  }

  .not_found_message {
    font-size: 24px;
  }

  .not_found_message_link {
    margin: 0 5px;
    font-size: 28px;
    color: $yellow_main;
    text-align: center;
    font-weight: 900;
    font-family: "Avenir_Black";
  }
}