@import "../../Sass/variables";

.contain_Ubication {
    position: relative;
    font-family: "Avenir_Roman";
    cursor: pointer;
    width: 200px;
    font-size: 0.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 40px;
    color: white;

    .Ubication_body {
        border-radius: 1rem;
        padding: 3px;

        &:hover {
            box-shadow: 1px 1px 5px 1px gray;
        }
    }
}

.flagIcon {
    display: inline-block;
    box-sizing: content-box;
    box-sizing: initial;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 100%;
    border: 1px solid black;
    position: relative;
    top: 7px;
    overflow: hidden;

    img {
        display: inline-block;
        width: 1.7em;
        height: 1.7em;
        vertical-align: middle;
        object-fit: cover;
    }
}
