@import '../../Sass/variables';

.contain_Ubication {
    position: absolute;
    top: 0;
    font-family: 'Avenir_Roman';
    cursor: pointer;
    margin: 4em 0 0 12%;
    width: 200px;

    .Ubication_body{
        border-radius: 1rem;
        padding: 3px;

        &:hover{
            box-shadow: 1px 1px 5px 1px gray;
        }
  
    }
}

.flagIcon{
    display: inline-block;
    box-sizing: initial;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid;
    position: relative;
    top: 7px;
    overflow: hidden;
}