@import '../../Sass/variables';

.content_Header {
    top: 0;
    left: 0;
    height: 6rem;
    width: 100%;
    background-color: #FFFF01;
    display: flex;
    align-items: center;
    z-index: 1;

    .body_Header {
        max-width: 1200px;
        margin-left: 10%;
        margin-bottom: 3vh;
    }

}



