@import "../../../../Sass/variables";

.popup-products{
    background-color: white;
    width: 45rem;
    height: 15rem;
    color:black;
    font-family: "Avenir_Black";
}
.title-products{
    font-family: "Avenir_Black";
    color: black;
}
.confirmButton-products{
    border-radius: 20px;
    border: 1px solid $yellow_main;
    background-color: $yellow_main;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 1rem;
    cursor: pointer;
    transition: 0.4s all;
    &:hover {
        transform: scale(1.07);
    }
}
.input-products{
    background-color: white;
    color: black;
}

.validationMessage-products{
    background-color: white;
    color: #cc0000;
    height: 1.5rem;
}

.popup-products-delete{
    background-color: white;
    width: 35rem;
    height: 17rem;
    color:black;
    font-family: "Avenir_Black";
}

.input-products-stock{
    background-color: white;
    color: black;
    justify-self: center;
}