// !CONTENT_REVIEWS

.content_Reviews {
  margin: 2rem 6rem 0rem 6rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  padding-top: 40px;

  .content_averageRating {
    margin: 0rem 2rem 3rem 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    padding: 2rem 0rem 1rem 0rem;
    width: auto;
    text-align: end;
    display: flex;

    .left_rating {
      .main_point {
        line-height: 0.95;
        text-align: right;
        color: rgba(0, 0, 0, 0.8);
        font-size: 3rem;
        font-weight: 300;
        padding-bottom: 1rem;
      }
    }

    .rigth_rating {
      display: inline-block;
      max-width: 315px;
      width: 100%;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      margin-left: 2rem;
      .ul_star {
        display: inline-block;
        width: 100%;
        .li_star {
          margin-bottom: 12px;
          display: -ms-grid;
          display: grid;
          grid-template-columns: 1fr 1fr 35px;
          -ms-grid-columns: 1fr 1fr 35px;

          .name_star {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            // flex-direction: column;
            justify-content: center;
            .span_name_star {
              color: rgba(0, 0, 0, 0.45);
              font-family: "Avenir_Roman";
            }
          }
          .content_bars {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
            justify-content: center;
            .bars_rating {
              border-radius: 100px;
              display: inline-block;
              height: 4px;
              margin-top: 4px;
              position: relative;
              vertical-align: middle;
              .bar__background {
                background-color: rgba(0, 0, 0, 0.1);
                border-radius: 100px;
                bottom: 0;
                display: block;
                height: 110%;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
              }
              .fill__background {
                background-color: #ffc107;
                border-radius: 100px;
                bottom: 0;
                display: block;
                height: 105%;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                box-shadow: 1px 1px 80px 0.5px #000000;
                border: 1px solid #fda901d4;
              }
            }
          }
          .total_points {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
            justify-content: center;
            .points_label {
              color: rgba(0, 0, 0, 0.45);
              font-family: "Avenir_Roman";
            }
          }
        }
      }
    }
  }

  .rendered_reviews_container {
    padding-bottom: 5rem;
  }

  .card_review {
    padding: 1rem;
    border-radius: 2rem;

    &:hover {
      background: rgb(219, 219, 219);
    }
  }

  .score_label {
    display: flex;
    font-size: 0.7rem;
    align-items: center;
  }

  img {
    border-radius: 50%;
    padding-right: 5px;
    height: 55px;
  }

  img:hover {
    cursor: pointer;
  }

  .user_info {
    display: block;
  }

  .opinion_text {
    margin: 0.3rem 0rem 0rem 3.5rem;
  }
}

// ! STAR RATING
.StarRating {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .star_radio_on {
    display: none;
  }

  .star_radio_off {
    pointer-events: none;
  }

  .star {
    cursor: pointer;
    transition: color 200ms;
  }
  .label_rating {
    font-size: 0.7rem;
  }
}

body {
  overflow: hidden;
}

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400");

.hidden {
  display: none;
}

.container2 {
  margin: 0rem 50% 6rem 40%;
  .bg,
  .button {
    position: absolute;
    width: 210px;
    height: 45px;
    border-radius: 10rem;
  }

  .bg {
    animation: pulse 1.2s ease infinite;
    background: #ff3466;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99;
    border: none;
    background: #f64749;
    background-size: 18px;
    cursor: pointer;
    outline: none;
    color: #fff;
    font-size: 17px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

// ! POSTREVIEWS
.content_PostReview {
  background-color: white;
  /* width: 45rem; */
  /* height: 15rem; */
  color: black;
  font-family: "Avenir_Black";

  .submit {
    border-radius: 20px;
    border: 1px solid #ffff01;
    background-color: #ffff01;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 1rem;
    cursor: pointer;
    transition: 0.4s all;
  }
  .container3 {
    .rating {
      display: flex;
      width: 100%;
      justify-content: center;
      overflow: hidden;
      flex-direction: row-reverse;
      height: 150px;
      position: relative;
    }

    .rating-0 {
      filter: grayscale(100%);
    }

    .rating > input {
      display: none;
    }

    .rating > label {
      cursor: pointer;
      width: 40px;
      height: 40px;
      margin-top: auto;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 76%;
      transition: 0.3s;
    }

    .rating > input:checked ~ label,
    .rating > input:checked ~ label ~ label {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    }

    .rating > input:not(:checked) ~ label:hover,
    .rating > input:not(:checked) ~ label:hover ~ label {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    }

    .emoji-wrapper {
      width: 100%;
      text-align: center;
      height: 100px;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }

    .emoji-wrapper:before,
    .emoji-wrapper:after {
      content: "";
      height: 15px;
      width: 100%;
      position: absolute;
      left: 0;
      z-index: 1;
    }

    .emoji-wrapper:before {
      top: 0;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 35%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    .emoji-wrapper:after {
      bottom: 0;
      background: linear-gradient(
        to top,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 35%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    .emoji {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: 0.3s;
    }

    .emoji > svg {
      margin: 15px 0;
      width: 70px;
      height: 70px;
      flex-shrink: 0;
    }

    #rating-1:checked ~ .emoji-wrapper > .emoji {
      transform: translateY(-100px);
    }
    #rating-2:checked ~ .emoji-wrapper > .emoji {
      transform: translateY(-200px);
    }
    #rating-3:checked ~ .emoji-wrapper > .emoji {
      transform: translateY(-300px);
    }
    #rating-4:checked ~ .emoji-wrapper > .emoji {
      transform: translateY(-400px);
    }
    #rating-5:checked ~ .emoji-wrapper > .emoji {
      transform: translateY(-500px);
    }
  }
  .feedback {
    background-color: #fff;
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    .text_review {
      margin: 0px;
      width: 363px;
      height: 89px;
      font-size: 1rem;
      font-family: "Avenir_Book";
    }
  }

  .rating-label {
    position: relative;
    max-width: 100%;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
    font-family: "Avenir_Black";
  }
}

* {
  .title-order-info2 {
    font-family: "Avenir_Black" !important;
  }

  .confirmButton-order-info2 {
    background-color: #49af41 !important;
    font-family: "Avenir_Black" !important;
    border-radius: 3em;
    width: 5rem;
    height: 2rem;
    cursor: pointer;
  }
}

.btnforPost2 {
  .btnpost_actived {
    background-color: black;
    color: yellow;
  }
  svg {
    position: relative;
    top: 0px;
    left: 0px;
  }
}

.btnforPost {
  #gooey,
  button,
  svg,
  filter,
  defs,
  span,
  .bubble {
    transition: all 0.5s ease;
    &:hover {
      font-family: 'Avenir_Black';
      font-weight: 900;
      color:  rgb(26, 75, 6) !important;
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  svg {
    position: absolute;
    top: -4000px;
    left: -4000px;
  }

  #gooey-button {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    color: #0c1016;
    filter: url(#gooey);
    position: relative;
    background-color: #00ff80;
    font-family: "Avenir_Roman";
  }
  #gooey-button:focus {
    outline: none;
  }
  #gooey-button .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  #gooey-button .bubbles .bubble {
    background-color: #00ff80;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
  }
  #gooey-button .bubbles .bubble:nth-child(1) {
    left: 55px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-1 3.02s infinite;
    animation: move-1 3.02s infinite;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  #gooey-button .bubbles .bubble:nth-child(2) {
    left: 59px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-2 3.04s infinite;
    animation: move-2 3.04s infinite;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  #gooey-button .bubbles .bubble:nth-child(3) {
    left: 69px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-3 3.06s infinite;
    animation: move-3 3.06s infinite;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  #gooey-button .bubbles .bubble:nth-child(4) {
    left: 33px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-4 3.08s infinite;
    animation: move-4 3.08s infinite;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  #gooey-button .bubbles .bubble:nth-child(5) {
    left: 51px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-5 3.1s infinite;
    animation: move-5 3.1s infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  #gooey-button .bubbles .bubble:nth-child(6) {
    left: 48px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-6 3.12s infinite;
    animation: move-6 3.12s infinite;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }
  #gooey-button .bubbles .bubble:nth-child(7) {
    left: 41px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-7 3.14s infinite;
    animation: move-7 3.14s infinite;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
  }
  #gooey-button .bubbles .bubble:nth-child(8) {
    left: 16px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-8 3.16s infinite;
    animation: move-8 3.16s infinite;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
  }
  #gooey-button .bubbles .bubble:nth-child(9) {
    left: 73px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-9 3.18s infinite;
    animation: move-9 3.18s infinite;
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
  }
  #gooey-button .bubbles .bubble:nth-child(10) {
    left: 57px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-10 3.2s infinite;
    animation: move-10 3.2s infinite;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }

  @-webkit-keyframes move-1 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -86px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }

  @keyframes move-1 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -86px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @-webkit-keyframes move-2 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -71px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @keyframes move-2 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -71px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @-webkit-keyframes move-3 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -89px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @keyframes move-3 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -89px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @-webkit-keyframes move-4 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -56px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @keyframes move-4 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -56px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @-webkit-keyframes move-5 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -96px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @keyframes move-5 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -96px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @-webkit-keyframes move-6 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -107px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @keyframes move-6 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -107px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @-webkit-keyframes move-7 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -103px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @keyframes move-7 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -103px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @-webkit-keyframes move-8 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -125px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @keyframes move-8 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -125px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @-webkit-keyframes move-9 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -123px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @keyframes move-9 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -123px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @-webkit-keyframes move-10 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -79px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @keyframes move-10 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -79px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
}
