@import '../../Sass/variables';
.contain_NavBar{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #000;
    height: 12vh;
    justify-content: space-around;  
    padding: 10px;  

    .left-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .logohenry{
            margin-top: 23px;
            width: 300px;
            padding-top: 2%;
        }
        .geolocation{
            padding-bottom: 2%;
        }
    }

    .mid-box{
        display: flex;
        flex-direction: row;
        width: 50%;
        align-items: center;
        justify-content: space-around;
        padding-top: 10px ;
        p{
            font-weight: 500;
            font-size: 1.1em;
            color: #ffffff;
        }
        p:hover{
            color: $yellow_main;
            transition: 1s all ease;
        }
    }

    .right-box{
        display: flex;
        flex-direction: column;
        width: 17%;
        .profile-box{
            height: 70%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            .image {
                width: 70px;
                height: 70px;
                border-radius: 100px;
                border: 1px solid white;
                object-fit: cover;
            }
        }
        .buttons-under-profile{
            height: 30%;
            justify-content: space-around;
            align-items: center;
            display: flex;

            .menu_category{
                position: relative;
                display: block;
                background-color: $yellow_main;
                font-weight: 400;
                font-size: 0.8em;
                color: #000000;
                width: fit-content;
                height: fit-content;
                margin: 10px;
                text-decoration: none;
                border-radius: 4px;
                height: 30px;
                width: 100px;
                z-index: 0;
                transition: all 500ms ease;
                border: 2px solid $yellow_main;
                background-color: transparent;
                color: #ffffff;
            }
            .menu_category::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                margin: auto;
                background-color: $yellow_main;
                transition: all 500ms ease;
                z-index: -1;
              }
              .menu_category:hover {
                animation: shadow-pulse 1000ms 1;
                background-color: $yellow_main;
                color: #000000;
                cursor: pointer;
              }
        }
    }
}





