@import 'variables';

.contain_NavBar{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: $gray_main;
    height: 15vh;
    justify-content: space-around;  
    padding: 10px;  
    .left-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: red;
        .logohenry{
            margin-bottom: -15px;
            height: 120px;
        }
    }

    .mid-box{
        display: flex;
        flex-direction: column;
        background-color: blue;
        width: 50%;
        align-items: center;
        padding-top: 10px ;
        .searchbar{
            margin: 10px;
        }
    }

    .right-box{
        display: flex;
        background-color: green;
        flex-direction: column;
        .profile-box{
            height: 70%;
        }
        .buttons-under-profile{
            height: 30%;
            justify-content: space-around;
            display: flex;
            background-color: yellow;
        }
    }
}




