@import "../../Sass/variables";

.cards_container_products {
  // margin: 1.5rem;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  // grid-gap: 2rem;
  // justify-content: center;
  width: 100%;
  // display: flex;
  // flex-direction: column;
  

  .all_Cards {
    margin: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    grid-gap: 2rem;
    justify-content: center;
  }


  .product_card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 355px;
    width: 100%;
    border-radius: 25px;
    padding: 20px 30px 30px 30px;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    overflow: hidden;
    transition: 0.2s all ease-out;

    &:hover {
      transform: scale(1.02);
    }
  }
  .product_name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: "Avenir_Black";
    letter-spacing: 0.04rem;
    font-weight: 600;
  }
  .product_stripe{
    background-color: yellow;
    width: 100px;
    height: 8px;
    margin-top: -8px;
    z-index: -10;
  }
  .product_number{
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 6px;
    font-family: "Avenir_Black";
  }
  .product_usd{
    font-family: "Avenir_Book";
    font-weight: 500;
  }
  
  .product_image {
    height: 12rem;
    width: 100%;
    object-fit: contain;
  }
  
  .product_price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 0.3rem;
  }
  .product_henry_coin{
    margin-bottom: 0.5rem;
  }

  .heart_product{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 1.2rem;
    transition: 0.3s all ease;
     &:hover{
      color: red;
      cursor: pointer;
     }
  }
}

.product_card_disabled {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 355px;
  width: 100%;
  border-radius: 25px;
  padding: 20px 30px 30px 30px;
  background: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  overflow: hidden;
  transition: 0.2s all ease-out;

  .product_image {
    filter: grayscale(100%)
  }
  .product_stripe{
    background-color: #D2D2D6;
  }
  .button_detail {
    background-color: #D2D2D6;
  
    &:hover{
      transition: 0.4s all ease;
      background-color: #D2D2D6;
      color: #000;
    }
  }
  
}
.no_stock{
  color: red;
  font-family: "Avenir_Book";
  font-weight: 500;

}


//--------------------------------------------------------

/* ! PAGINATION */
.paginationBttns {
  width: 80%;
  height: 40px;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #2b2eff;
}

.paginationActive a {
  background-color: #2b2eff;
  color: white;
}

.pagination {
  top: 40rem;
}

.button_detail {
  background-color: $yellow_main;
  color: black;
  border-radius: 8px;
  width: 11rem;
  height: 3.5em;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: "Avenir_Black";
  letter-spacing: 0.06rem;
  font-weight: 800;

  &:hover{
    transition: 0.4s all ease;
    background-color: #AEADB3;
    color: $yellow_main;
  }
}
