@import "../../../Sass/variables";

.container_forgot_pass {
  width: 460px;
  height: 620px; 
  width: 460px;
  height: 620px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  flex-wrap: wrap;
  }

  .formu-forgot{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imput_forgot{
    margin: 10px;
    padding: 10px 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #cfcfcf;
    width: 280px;
    height: 40px;
    padding: 0 25px;
    font-size: 15px;
  }
  .container_name_strip{
    margin-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .forgotpass_title{
    font-family: "Avenir_Black";
    color: black;
  }
  
  .forgotpass_title_strip{
    position: relative;
    bottom:0.8rem;
    background-color: yellow;
    justify-content: center;
    width: 7.5rem;
    height: 8px;
    z-index: -1;
  }
  
  .container_closeback_forgotpass{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .close-button-forgotpass{
    font-size: 2.5rem;
    color: $yellow_main;
    transition: all 0.3s linear;
    position: relative;
    cursor: pointer;
    transition: 0.4s;
    &:hover{
      transform: scale(1.1);
    }
  }

  .back-button-forgotpass {
    position: relative;
    cursor: pointer;
    font-size: 2.5rem;
    transition: 0.4s;
    color: #87868A;
    &:hover{
      color:black
    }
  
  }

  .button_forgot {
    border-radius: 20px;
        border: 1px solid $yellow_main;
        background-color: $yellow_main;
        color: #000000;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        margin: 1rem;
        cursor: pointer;
        transition: 0.4s all;
        &:hover {
            transform: scale(1.07);
        }
  }
